.section {
    padding-block: var(--section-padding-y);

    &--hidden-x {
        overflow-x: hidden;
    }
    &__header {
        display: flex;
        align-items: flex-start;
        column-gap: 40px;
        
        @include mobile {
            flex-direction: column;
            row-gap: 30px;
            text-align: center;
            display: flex;
            align-items: center;
            
        }

        &:not(:last-child){
            margin-bottom: 65px;

            @include mobile {
                margin-bottom: 40px;
            }
        }

    }

    &__description {
        max-width: 580px;
    }
}